* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**** Upper navbar section *****/
nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
}

.search {
    padding: 12px;
    border-radius: 28px;
    background: rgb(246, 246, 246);
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    margin-left: 12px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.nav-user-icon {
    background: rgb(246, 246, 246);
    padding: 10px;
    border-radius: 50%;
}

/**** Lower navbar section *****/
.second-nav {
    position: fixed;
    top: 65px;
    width: 78.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.listing-btn button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background: none;
    transition: all 0.2s;
}

.listing-btn button:hover {
    color: rgb(45, 103, 58);
}

.post-listing {
    text-decoration: none;
    padding: 3px 10px;
    margin-right: 70px;
    border-radius: 5px;
    background: none;
    border: 3px solid rgb(1, 144, 1);
    color: rgb(1, 144, 1);
    transition: all 0.2s;
}

.post-listing:hover {
    border: 3px solid rgb(2, 177, 2);
    color: rgb(2, 177, 2);
}

/**** Listing section *****/
.Listing-container {
    padding-top: 130px;
    position: relative;
    width: 80%;
    right: -100px;
}

.card-user-icon {
    background: rgb(246, 246, 246);
    padding: 3px;
    border-radius: 50%;
}

.card-btn {
    font-size: 10px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 144, 1);
    transition: all 0.25s;
}

.card-btn:hover {
    background-color: rgb(2, 177, 2);
}

.card-username {
    font-size: 10px;
    margin-bottom: 0;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.01);
}

/**** left sidebar section *****/
.left-sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    z-index: 200;
    background-color: white;
    top: 65px;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    /*box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);*/
}

.filter-btn {
    padding: 3px 10px;
    border: none;
    background: rgb(3, 236, 3);
    border-radius: 5px;
    transition: all 0.2s;
    display: none;
}

.filter-btn:hover {
    background-color: rgb(32, 255, 32);
}

.close-left-sidebar {
    padding: 5px;
    left: 170px;
    font-size: 20px;
    display: none;
}

.select {
    padding: 4px;
    font-size: 14px;
}

.select:focus {
    box-shadow: none;
    border: 1px solid black;
}

.form-group label {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.filter-submit {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(1, 144, 1);
    font-weight: bold;
}

.filter-btn:hover {
    background: rgb(2, 177, 2);
}

/**** right sidebar section *****/
.open-right-sidebar {
    cursor: pointer;
    font-size: 20px;
    color: rgb(1, 144, 1);
    padding: 5px 5px;
    transition: transform 0.2s;
}

.open-right-sidebar:hover {
    transform: scale(1.1);
}

.right-sidebar {
    position: fixed;
    top: 65px;
    width: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 102;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.right-extend {
    width: 250px;
}

.right-sidebar ul {
    padding: 25px 0;
}

.right-sidebar ul li {
    list-style: none;
    margin-bottom: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.right-sidebar ul li:hover {
    background-color: #f0f0f0;
    border-left: 3px solid white;
}

.right-sidebar ul li a {
    text-decoration: none;
    color: black;
}

.close-right-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 5px;
    color: rgb(1, 144, 1);
    transition: transform 0.2s;
}

.close-right-sidebar:hover {
    transform: scale(1.1);
}

@media (max-width:1120px) {
    .left-sidebar {
        width: 170px;
    }

    .Listing-container {
        width: 83%;
        right: -80px;
    }

    .second-nav {
        width: 81%;
    }
}

@media (max-width:1050px) {
    .left-sidebar {
        width: 150px;
    }

    .Listing-container {
        width: 85%;
        right: -75px;
    }

    .second-nav {
        width: 83%;
    }
}

@media (max-width:991.5px) {
    .left-sidebar {
        display: none;
        width: 200px;
    }

    .Listing-container {
        width: 100%;
        right: 0;
    }

    .second-nav {
        width: 97%;
        left: 9px;
    }

    .filter-btn {
        display: block;
    }
}

@media (max-width:605px) {
    .search-input {
        width: 300px;
    }

    .post-listing {
        margin-right: 10px;
    }

    .left-sidebar {
        width: 60%;
    }

    .right-extend {
        width: 80%;
    }

    .filter-btn {
        position: fixed;
        top: 115px;
        border: 1px solid black;
    }
}

@media (max-width:500px) {
    .search-input {
        width: 200px;
    }

    .listing-btn button {
        padding: 0px 5px;
    }

    .post-listing {
        padding: 1px 7px;
    }
}

@media (max-width:400px) {
    .logo {
        font-size: 17px;
        margin-left: -15px;
    }

    .nav-user-icon {
        padding: 7px;
        margin-right: -15px;
    }

    .search {
        padding: 7px;
    }

    .second-nav {
        top: 54.8px;
    }

    .listing-btn button {
        font-size: 13px;
    }

    .filter-btn {
        top: 100px;
        padding: 1px 5px;
    }

    .post-listing {
        margin-right: 4px;
        font-size: 13px;
    }

    .open-right-sidebar {
        font-size: 14px;
    }
}

@media (max-width:350px) {
    .search-input {
        width: 150px;
    }
    .logo {
        font-size: 15px;
    }
    .post-listing {
        display: flex;
        justify-content: center;
        font-size: 11px;
        border: 2px solid rgb(1, 144, 1);
        padding: -7px 7px;
    }
}